<p>
  The Server Component is this
</p>

<input type=text id="a1" name="a1" value="{{num1}}"><br>
<input type=text id="a2" name="a2" value="{{num2}}"><br>
<br>

<hr>
ngModel 2 way binding: <input type="text" 
class="form-control"
[(ngModel)]="serverName" />

<p>{{ serverName }}</p>
<hr>

<br>
<button 
class="btn btn-primary" 
[disabled]="!allowNewServer" 
(click)="add()">ADD ({{num1}}+{{num2}}) 
</button>
{{numadd}}
<br>

<br>
<button 
class="btn btn-primary" 
[disabled]="!allowNewServer" 
(click)="sub()">SUB ({{num1}}-{{num2}}) 
</button>
{{numsub}}
<br>

<br>
<button 
class="btn btn-primary" 
[disabled]="!allowNewServer" 
(click)="mul()">MUL ({{num1}}*{{num2}}) 
</button>
{{nummul}}
<br>

<br>
<button 
class="btn btn-primary" 
[disabled]="!allowNewServer" 
(click)="div()">Add ({{num1}}/{{num2}}) 
</button>
{{numdiv}}
<br>

<br>
<button 
class="btn btn-primary" 
[disabled]="!allowNewServer" 
(click)="fact(1)">{{num1}} Factorial ({{num1}}!) 
</button>
{{numfact1}}
<br>

<br>
<button 
class="btn btn-primary" 
[disabled]="!allowNewServer" 
(click)="fact(2)">{{num2}} Factorial ({{num2}}!) 
</button>
{{numfact2}}
<br>

<br>
<br>
<app-header></app-header>